html {
    font: 16pt arial,helvetica,sans-serif;
    color: #444;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    margin: 0;
    padding: 15px;
    text-align: right;
    background: #FFCC66;
    border-bottom: 8px solid #FF6600;
}

.menu a {
    margin: 0 10px;
}

h1 {
    text-align: center;
    color: #559900;
}

.content {
    margin: 20px;
}

.feed {
    margin: 50px;
}

.feed .title {
    background: #FFCC66;
    padding: 0 10px;
}

.feed .tweet {
    margin: 30px;
}

.tweet-user {
    text-align: right;
    font-size: 12pt;
    margin: 10px;
}

.footer {
    margin-top: 10px;
    border-top: 1px solid #FF6600;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
}

