html {
    font: 14pt 'Lucida Grande',sans-serif;
    color: #444;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    margin: 0;
    padding: 15px;
    text-align: right;
    background: #FFCC66;
    border-bottom: 8px solid #FF6600;
}

.menu a {
    margin: 0 10px;
}

h1 {
    text-align: center;
    color: #559900;
}

.content {
    margin: 20px;
}

#twitter {
    text-align: center;
    margin: 25px 0;
}

#status {
    width: 450px;
}

.r {
    clear: both;
    padding: 0;
}

.feed-grid {
}

.feed-column {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.feed-panel {
    margin: 0 50px
}

.feed-column .left .feed-panel{
    margin-right: 25px;
}

.feed-column .right .feed-panel {
    margin-left: 25px;
}

.feed {
}

.feed .title {
    background: #FFCC66;
    padding: 0 10px;
    margin: 0;
}

.feed .tweet {
    overflow: hidden;
}

.tweet-user {
    text-align: right;
    font-size: 12pt;
    margin: 10px;
}

.footer {
    margin-top: 10px;
    border-top: 1px solid #FF6600;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
}

